/2.Fimeware/ATom-Head/build
/2.Fimeware/ATom-Head/.vscode
/2.Fimeware/ATom-Cube/build
/3.Software/Unity/ATom-Bot/Logs
/3.Software/Unity/ATom-Bot/obj
/3.Software/Unity/ATom-Bot/Temp
/3.Software/Unity/ATom-Bot/Library
/2.Fimeware/ATom-Head/managed_components
/3.Software/squareline/autosave
/3.Software/squareline/backup
/3.Software/squareline/cache
